.card-container {
  width: calc(33.33% - 2%);
  float: left;
  margin: 1%;
  background-color: #f5fafa;
  border: 2px solid #69c2b0; /* Mint green border */
  border-radius: 10px;
  padding: 20px;
}

.card-container h3 {
  margin: 10px 0;
  text-align: center;
  color: #69c2b0; /* Mint green text */
}

.card-container h6 {
  margin: 5px 0;
  text-align: center;
  text-transform: uppercase;
  color: #3a6044; /* Dark green text */
}

.card-container p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #6b8c76; /* Light green text */
}

.card-container a {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #03b1a2; /* Mint green link */
  text-decoration: none;
}

.card-container a:hover {
  color: #02837f; /* Darker shade of mint green on hover */
}

.card-container img {
  display: block;
  margin: 0 auto 15px auto;
  border-radius: 50%;
  width: 100px; /* Adjust image size */
  height: 100px;
  object-fit: cover;
}

.gallery {
  overflow: hidden;
}
